
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to Flask-Patternfly</h1>
      </br>

      {% import "patternfly/components.html" as components %}
      {% set chip = components.chip("This is a patternfly chip") %}
      {% set alert_custom = components.alert("This is a patternfly alert") %}
      {% set alert_danger = components.alert("This is a patternfly dangerous alert", alert="danger") %}
      {% set badge = components.badge("This is a patternfly badge") %}
      {% set card = components.card("Card Title", "This is a patternfly card", "Made with Flask-Patternfly") %}
      {% set elements = [chip, alert_custom, alert_danger, badge, card ] %}

      {% import "patternfly/layouts.html" as layouts %}
      {{ layouts.grid(elements, 2, 8) }}

    </div>
   </div>
{% endblock %}
