
{%- extends "base.html" %}

{% import "patternfly/components.html" as components %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to Flask-Bootstrap</h1>
      <p>This example application demonstrates some (but not all!) of the
      features of <a href="http://pythonhosted.org/Flask-Bootstrap">
      Flask-Bootstrap</a>.</p>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="http://pythonhosted.org/Flask-Bootstrap" >Show docs</a>
      </p>
    </div>
   </div>
{%- endblock %}
